@media screen and(max-width: 340px) {
	.box {
		width: 150px;
	}
}
@media screen and (min-width: 341px) and (max-width: 500px) {
	.pic1 {
		order: 0;
		width: 50%;
	}
	.pic2 {
		.order
	}
	.pic3 {
		order: 5;
	}
	.pic4 {
		order: 3
	}
	.pic5 {
		order: 1;
	}
	.pic6 {
		order: 2;
	}
}
@media screen and (min-width: 600px) {

}

body {
	font-family:  'Helvetica', 'Verdana', 'sans-serif';
}
*, {
	width: 300px;
}
img {
	box-sizing: border-box;
	padding: 5px;

}
h1 {
	text-align: right;
}
hr {
	width: 95%;
	border-width: 5px;
	border-color: #7d97ad;
	border-radius: 1em;
}
#header_paragraph {
	padding-right: 1em;
	color: #2d3c49;
	text-align: right;
	margin-bottom: 0;
}
.header_container {
	display: flex;
	flex-wrap: wrap;
}
.section_container {
	display: flex;
	flex-wrap: wrap;
	/*margin-left: 10em;*/
	padding: 10em;

}
.header_h1 {
	font-size: 20px;
	color: #7d97ad;
	text-align: right;
	margin-bottom: 0;
}
.header_logo {
	padding: 1em;
}
.container_flex {
	display: flex;
	margin-right: auto;
	margin-left: auto;
}
.chimera_ants {
	float: left;
	background: black;
	/*bord/er: 3px*/
	ridge black;
	margin: 1px;
}
.box {
	width: 100%;
}
.resize {
	width: 300px;
	height: 400px;
}
#article_hxh {

}

nav,
a,
button {
	/*min-width: 48px;
	min-height: 48px;*/
	/*or*/
	padding: 1.5em;
}